.outer {
  border-radius: 0.3rem;
  padding: 0.5rem;
  width: 8rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 0.2rem;
}

.outer.active {
  background-color: #88ff7d;
}
.outer.inactive {
  background-color: rgb(255, 122, 122);
}
.outer.deactivating {
  background-color: rgb(255, 194, 81);
}

.label {
  font-weight: bold;
  text-transform: capitalize;
}
